@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@400;500&display=swap');

@font-face {
  font-family: 'Chinese Rocks';
  src: url('/fonts/chineserocksboldcyrillic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chinese Rocks';
  src: url('/fonts/chineserocksboldcyrillic_bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
